

<tabset>
  <tab>
      <ng-template tabHeading
      ><i class="icon-calculator"></i> تنظیمات داده های سیستم</ng-template
    >

    <div class="row animated fadeIn mt-4 justify-content-center">
        <div class="col-12 border-bottom mb-3">
            <div class="mb-1 pb-2 row  justify-content-center">
              <div class="border border-success col-11 col-md-6 col-xl-4 input-group m-2 p-0 rounded">
                <div class="input-group-prepend">
                  <label class="input-group-text">نحوه دریافت اطلاعات :</label>
                </div>
                <select
                  class="form-control "
                  [formControl]="type"
                  (change)="saveDataType()"
                >
                  <option value="file">بارگزاری اطلاعات از طریق فایل</option>
                  <option value="server">دریافت اطلاعات از سرور</option>
                </select>
              </div>
            </div>
          </div>
        <div class="col-12 animated fadeIn " *ngIf="type.value != 'file'">
          <div class="card card-accent-primary">
            <div class="card-header">
              اطلاعات دیتابیس ها
            </div>
            <div class="card-body">
              <form (ngSubmit)="onSubmitServers($event)" [formGroup]="settings">
                <div class="row" formGroupName="ami">
                  <label class="col-sm-2 col-form-label">دیتابیس Ami</label>
                  <div class="col-12 col-md-10 col-lg-10 col-xl-10">
                    <div class="row">
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Server IP </span>
                          </div>
                          <input
                            type="email"
                            class="form-control border"
                            [ngClass]="{
                              'border-success': pingStatus == 1,
                              'border-danger': pingStatus == -1
                            }"
                            autocomplete="email"
                            formControlName="ip"
                          />
                          <div class="input-group-append ">
                            <button
                              class="input-group-text"
                              (click)="pingAmi()"
                              [ngClass]="{
                                'bg-success': pingStatus == 1,
                                'bg-danger': pingStatus == -1
                              }"
                            >
                              {{ pingStatus == 1 ? "ok" : "ping" }}
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Port</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="port"
                          />
                        </div>
                      </div>
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">user</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="username"
                          />
                        </div>
                      </div>
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Password</span>
                          </div>
                          <input
                            type="password"
                            class="form-control"
                            autocomplete="current-password"
                            formControlName="password"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="row" formGroupName="operatori">
                  <label class="col-sm-2 col-form-label">دیتابیس operatori</label>
                  <div class="col-10">
                    <div class="row">
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Server IP </span>
                          </div>
                          <input
                            type="email"
                            class="form-control"
                            autocomplete="email"
                            formControlName="ip"
                          />
                        </div>
                      </div>
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Port</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="port"
                          />
                        </div>
                      </div>
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">user</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="username"
                          />
                        </div>
                      </div>
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Password</span>
                          </div>
                          <input
                            type="password"
                            class="form-control"
                            autocomplete="current-password"
                            formControlName="password"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="row" formGroupName="invitation">
                  <label class="col-sm-2 col-form-label"
                    >سرور سیستم فراخوان</label
                  >
                  <div class="col-10">
                    <div class="row">
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Server IP </span>
                          </div>
                          <input
                            type="email"
                            class="form-control"
                            autocomplete="email"
                            formControlName="ip"
                          />
                        </div>
                      </div>
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Port</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="port"
                          />
                        </div>
                      </div>
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">user</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="username"
                          />
                        </div>
                      </div>
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Password</span>
                          </div>
                          <input
                            type="password"
                            class="form-control"
                            autocomplete="current-password"
                            formControlName="password"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="row" formGroupName="server">
                  <label class="col-sm-2 col-form-label">دیتابیس Server</label>
                  <div class="col-10">
                    <div class="row">
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Server IP </span>
                          </div>
                          <input
                            type="email"
                            class="form-control"
                            autocomplete="email"
                            formControlName="ip"
                          />
                        </div>
                      </div>
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Port</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="port"
                          />
                        </div>
                      </div>
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">user</span>
                          </div>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="username"
                          />
                        </div>
                      </div>
                      <div class="form-group col-12 col-md-6 col-lg-6 col-xl-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Password</span>
                          </div>
                          <input
                            type="password"
                            class="form-control"
                            autocomplete="current-password"
                            formControlName="password"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="form-group form-actions col-12 text-left">
                  <button type="submit" class="btn  btn-primary">
                    ذخیره شود
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class=" col-12 col-md-8 col-lg-8  col-xl-6"  *ngIf="type.value == 'file'">
            <div class="card card-accent-success">
              <div class="card-header">
                ورود فایل اطلاعات گزارشات و صف ها (.csv)
              </div>
              <div class="card-body">
                <form [formGroup]="systemData" (ngSubmit)="submitSystemData()">
                  <div class="form-group ">
                    <div class="input-group row text-center justify-content-center">
                      <label class="col-3 col-form-label">نوع فایل: </label>
                      <div class="col-9 text-right col-form-label">
                     
                        <div class="form-check">
                          <label
                            class=" col-12 "
                            [ngClass]="{ active: fileType.value == '0' }"
                            for="id1"
                          >
                          <input
                          type="radio"
                          value="0"
                          [formControl]="fileType"
                          id="id1"
                          checked
                        />
                          
                          فایل اطلاعات سیستم
                          <i class="fa fa-check" [hidden]="fileType.value != '0'"></i>
                          </label>
                        </div>
                        <div class="form-check">
                        <label
                          class=" col-12 "
                          [ngClass]="{ active: fileType.value == '1' }"
                          for="id2"
                        >
                          <input
                            type="radio"
                            value="1"
                            [formControl]="fileType"
                            id="id2"
                            autocomplete="off"
                          />
                    
                          فایل اطلاعات صف ها
                          <i class="fa fa-check" [hidden]="fileType.value != '1'"></i>
                        </label>
                        </div>

                      </div>
                      
                      <label for="data-file" class="btn btn-primary col-6"
                        >انتخاب فایل csv {{fileType.value == '0' ? 'اطلاعات سیستم' : ' اطلاعات صف ها' }} ...</label
                      >
                      <input
                        type="file"
                        class="form-control-file form-control hide is-invalid"
                        formControlName="file"
                        id="data-file"
                        (change)="handleDataFileInput($event.target.files)"
                      />

                      <div class="col-12">
                          <div *ngIf="datafileToUpload" >
                            {{ datafileToUpload.name }}
                          </div>
                          <div
                            *ngIf="systemDataSubmitted && systemDataInfo.file.errors"
                            class="invalid-feedback"
                          >
                            <div *ngIf="systemDataInfo.file.errors.required">
                              فایلی انتخاب نشده است.
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="row justify-content-center align-items-center"><div class="col-7 border-top m-2"></div></div>
                  <div class="form-group form-actions  text-center">
                    <button type="submit" class="btn  btn-success" disabled="!datafileToUpload">
                      ذخیره شود
                      <app-spintick [showSpinner]="fileIsUploading"></app-spintick>
                    </button>
                  </div>
                  <progressbar
                    [hidden]="!fileIsUploading"
                    class="progress"
                    [value]="progress"
                    [max]="100"
                  ></progressbar>
                </form>
              </div>
    
              <div class="text-center border-top p-4">
                <button class="btn btn-danger m-1" (click)="removeAllDataModal.show()">
                  حذف اطلاعات دیتابیس گزارشات
                  <i class="fa fa-trash"></i>
                </button>
                <button class="btn btn-danger m-1" (click)="removeAllQDataModal.show()">
                  حذف اطلاعات دیتابیس صف ها
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
    </div>


  </tab>



  <tab>
    <ng-template tabHeading
      ><i class="icon-basket-loaded"></i> تنظیمات لایسنس</ng-template
    >

    <div class="row animated fadeIn border-bottom justify-content-center">
      <div class=" col-12 col-md-6 col-lg-6  ">
        <div class="card card-accent-success">
          <div class="card-header">
            ثبت اطلاعات شما
          </div>
          <div class="card-body">
            <form [formGroup]="license" (ngSubmit)="submitLicense()">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">نام سازمان/شخص/شرکت</span>
                  </div>
                  <input
                    type="text"
                    name="username3"
                    formControlName="name"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': licenseSubmitted && licenseForm.name.errors
                    }"
                    required
                  />

                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fa fa-user"></i
                    ></span>
                  </div>
                  <div
                    *ngIf="licenseSubmitted && licenseForm.name.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="licenseForm.name.errors.required">
                      وارد کردن نام ضروری است.
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> زمان فعال سازی سیستم </span>
                  </div>
                  <input
                    class="form-control"
                    readonly
                    formControlName="startDate"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fa fa-clock-o"></i
                    ></span>
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Serial number</span>
                  </div>
                  <input
                    class="form-control"
                    readonly
                    formControlName="serial"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fa fa-asterisk"></i
                    ></span>
                  </div>
                </div>
              </div>

              <div class="form-group ">
                <div class="input-group">
                  <label class="col-sm-3 col-form-label"> فایل لایسنس:</label>
                  <label for="licence-file" class="btn btn-primary"
                    >انتخاب...</label
                  >

                  <input
                    type="file"
                    class="form-control-file form-control hide is-invalid"
                    formControlName="file"
                    id="licence-file"
                    (change)="handleFileInput($event.target.files)"
                  />
                  <div *ngIf="fileToUpload">{{ fileToUpload.name }}</div>
                  <div
                    *ngIf="licenseSubmitted && licenseForm.file.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="licenseForm.file.errors.required">
                      فایلی انتخاب نشده است.
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group form-actions text-left">
                <button type="submit" class="btn  btn-success">
                  ذخیره شود
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div
        class=" col-12 col-lg-6 "
        *ngIf="licenseSubmitted || accessList.length > 0"
      >
        <div class="card  card-accent-success">
          <div class="card-header">
            دسترسی های شما
          </div>
          <div class="card-body text-center">
            <div class="alert alert-success" *ngFor="let item of accessList">
              {{ item.title }}: زمان:{{ item.active_time }}: تعداد:{{
                item.count
              }}
            </div>
            <div class="alert alert-danger" *ngIf="accessList.length == 0">
              دسترسی موجود نیست.
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>

  <tab>
    <ng-template tabHeading
      ><i class="fa da-list"></i> تعرفه های قبوض</ng-template
    >
    <div class="row animated fadeIn border-bottom justify-content-center">
      <div class="col-12 col-md-10 col-lg-10 col-xl-6">
        <div class="card card-accent-success">
          <div class="card-header">
            لیست تعرفه ها
          </div>
          <div class="card-body">
            <form [formGroup]="bills" (ngSubmit)="submitBills()">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">هزینه هر پالس</span>
                  </div>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="pulse"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fa fa-user"></i
                    ></span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      هزینه هر دقیقه مکالمه شهری
                    </span>
                  </div>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="co"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fa fa-envelope"></i
                    ></span>
                  </div>
                </div>
              </div>
              <div class="form-group ">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      هزینه هر دقیقه مکالمه بین شهری</span
                    >
                  </div>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="betweenco"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fa fa-asterisk"></i
                    ></span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      هزینه هر دقیقه مکالمه موبایل
                    </span>
                  </div>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="mobile"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fa fa-envelope"></i
                    ></span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> هزینه آبونمان </span>
                  </div>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="abonmah"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="fa fa-envelope"></i
                    ></span>
                  </div>
                </div>
              </div>

              <div class="form-group form-actions">
                <button type="submit" class="btn  btn-primary">
                  ذخیره شود
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </tab>

  <tab>
    <ng-template tabHeading
      ><i class="icon-basket-loaded"></i>دیگر اطلاعات سیستم</ng-template
    >
    <div class="row animated fadeIn border-bottom justify-content-center">
      <div class=" col-12 col-md-12 col-lg-12 ">
        <div class="card card-accent-success">
          <div class="card-header">
            دیگر اطلاعات سیستم
          </div>
          <div class="card-body">
            <form
              class="row"
              [formGroup]="otherData"
              (ngSubmit)="submitOtherData()"
            >
              <div class="form-group col-sm-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">countco</span>
                  </div>
                  <input class="form-control" formControlName="countco" />
                </div>
              </div>
              <div class="form-group col-sm-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> counte1 </span>
                  </div>
                  <input
                    class="form-control"
                    autocomplete="email"
                    formControlName="counte1"
                  />
                </div>
              </div>
              <div class="form-group col-sm-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> counte1 </span>
                  </div>
                  <input
                    class="form-control"
                    autocomplete="email"
                    formControlName="counte1"
                  />
                </div>
              </div>
              <div class="form-group col-sm-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> queue_number </span>
                  </div>
                  <input class="form-control" formControlName="queue_number" />
                </div>
              </div>
              <div class="form-group col-sm-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      prepend_outbound_from
                    </span>
                  </div>
                  <input
                    class="form-control"
                    formControlName="prepend_outbound_from"
                  />
                </div>
              </div>
              <div class="form-group col-sm-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> prepend_outbound_to </span>
                  </div>
                  <input
                    class="form-control"
                    autocomplete="email"
                    formControlName="prepend_outbound_to"
                  />
                </div>
              </div>
              <div class="form-group col-sm-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> did_inbound_from </span>
                  </div>
                  <input
                    class="form-control"
                    autocomplete="email"
                    formControlName="did_inbound_from"
                  />
                </div>
              </div>
              <div class="form-group col-sm-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> did_inbound_to </span>
                  </div>
                  <input
                    class="form-control"
                    formControlName="did_inbound_to"
                  />
                </div>
              </div>
              <div class="form-group col-sm-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      prefix_outbound_transfer
                    </span>
                  </div>
                  <input
                    class="form-control"
                    autocomplete="email"
                    formControlName="prefix_outbound_transfer"
                  />
                </div>
              </div>

              <div class="form-group form-actions col-sm-12 text-left">
                <button type="submit" class="btn  btn-primary">
                  ذخیره شود
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </tab>
</tabset>

<app-loading
  text="در حال بارگزاری..."
  [showLoading]="fileIsUploading"
></app-loading>

<div
  bsModal
  #removeAllDataModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-11">حذف کل اطلاعات گزارشات</h4>
        <button
          type="button"
          class="close "
          (click)="removeAllDataModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>آیا از حذف کل اطلاعات دیتابیس گزارشات مطمئنید؟</p>
        <p>
          در صورت تایید، <b>کل اطلاعات ذخیره شده در تمام تاریخ ها </b>از سیستم
          حذف خواهد شد.
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary mr-2"
          (click)="removeAllDataModal.hide()"
        >
          انصراف
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="removeLastFileData()"
        >
          {{ !fileIsRemoving ? "بله حذف شود" : "در حال حذف اطلاعات " }}
          <app-spintick
            [showSpinner]="fileIsRemoving"
            [showTick]="false"
          ></app-spintick>
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
  bsModal
  #removeAllQDataModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title col-11">حذف کل اطلاعات صف ها</h4>
        <button
          type="button"
          class="close "
          (click)="removeAllQDataModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>آیا از حذف کل اطلاعات دیتابیس صف ها مطمئنید؟</p>
        <p>
          در صورت تایید، <b>کل اطلاعات ذخیره شده در تمام تاریخ ها </b>از سیستم
          حذف خواهد شد.
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary mr-2"
          (click)="removeAllQDataModal.hide()"
        >
          انصراف
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="removeLastQFileData()"
        >
          {{ !fileIsRemoving ? "بله حذف شود" : "در حال حذف اطلاعات " }}
          <app-spintick
            [showSpinner]="fileIsRemoving"
            [showTick]="false"
          ></app-spintick>
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
