
<div class="row animated fadeIn mt-4 justify-content-center">
    <div class="col-6">
      <div class="card card-accent-primary">
        <div class="card-header">  لیست داخلی ها </div>


        <form class="col-12 text-left mt-1" (ngSubmit)="submitNewItem()" >
            <div class="row text-center justify-content-center">
              <input class="form-control col-4 p-1 m-2" placeholder="نام داخلی" [hidden]="!addingNewGroup" [formControl]="newGroupName" >
              <input class="form-control col-4 p-1 m-2" placeholder="شماره داخلی*" [hidden]="!addingNewGroup"
               [formControl]="newGroupNumber" >
               <label class="text-danger" *ngIf="newGroupNumber.value.error">
                 شماره باید کمتر از 8 رقم باشد.
               </label>
            </div>
            <div class="row text-center justify-content-center">
              <button class="btn" type="submit" title="اضافه کردن داخلی جدید"
              [ngClass] = "{'btn-warning btn-pill':!addingNewGroup, 'btn-success col-3 m-1 p-0':addingNewGroup }"
               >{{ addingNewGroup? 'ثبت' : ' +اضافه کردن داخلی' }}</button>
        
               <button class="col-3 m-1 btn btn-warning" [hidden]="!addingNewGroup" (click)="addingNewGroup=false" >لغو</button>
            </div>
        </form>
        <hr />


        <div class="card-body">
            <ngx-datatable class="material border-bottom"
            [rows]="groups"
            [headerHeight]="40"
            
            [rowHeight]="'auto'"
            [selectionType]="'single'"
            [columnMode]="'force'"  
            style="width: 100%"
            (activate)="onActivate($event)"
            [footerHeight]="50"
            [count]="12"
            [offset]="0"
            [limit]="10"
            
            >
           
            <ngx-datatable-column
            [sortable]="true"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [width]="50"
            name="id"
            >
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                <span >ردیف</span>
              </ng-template>
              <ng-template   let-rowIndex="rowIndex" >
                  {{rowIndex}}
              </ng-template>
         </ngx-datatable-column>
        <ngx-datatable-column
         
          [sortable]="true"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [width]="250"
          name="name"
          >
          <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span >نام داخلی</span>
            </ng-template>
            <ng-template let-value="value"   let-row="row" 
              let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                <span
                title="برای ویرایش دوبار کلیک کنید!"
                (dblclick)="editing[rowIndex + '-name'] = true"
                (click)="setActiveRow(rowIndex)"
                *ngIf="!editing[rowIndex + '-name']">
                {{value}}
              </span>
              <input class="form-text col-12"
                autofocus
                (blur)="updateValue($event, 'name', rowIndex)"
                (keypress)="onKeyPress($event)"
              
                *ngIf="editing[rowIndex+ '-name']"
                type="text"
                [value]="value"
              />
            </ng-template>
       </ngx-datatable-column>
       <ngx-datatable-column
         
       [sortable]="true"
       [canAutoResize]="false"
       [draggable]="false"
       [resizeable]="false"
       [width]="200"
       name="number"
       >
       <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
           <span >شماره داخلی</span>
         </ng-template>
         <ng-template let-value="value"   let-row="row" 
           let-rowIndex="rowIndex"  ngx-datatable-cell-template>
             <span
             title="برای ویرایش دوبار کلیک کنید!"
             (dblclick)="editing[rowIndex + '-number'] = true"
             (click)="setActiveRow(rowIndex)"
             *ngIf="!editing[rowIndex + '-number']">
             {{value}}
           </span>
           <input class="form-text col-12"
             autofocus
             (blur)="updateValue($event, 'number', rowIndex)"
             (keypress)="onKeyPress($event)"
           
             *ngIf="editing[rowIndex+ '-number']"
             type="text"
             [value]="value"
           />
         </ng-template>
    </ngx-datatable-column>
       <ngx-datatable-column
         
       [sortable]="true"
       [canAutoResize]="false"
       [draggable]="false"
       [resizeable]="false"
       name="edit"
       [width]="50"
       >
       <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
           <span >حذف</span>
         </ng-template>
         <ng-template let-value="value"   let-row="row" 
           let-rowIndex="rowIndex"  ngx-datatable-cell-template>
          <span class="btn btn-sm btn-danger" data-toggle="modal" (click)="showRemoveModal(rowIndex)">
            <i class="fa fa-trash"></i>
          </span>
  
         </ng-template>
    </ngx-datatable-column>
  
      </ngx-datatable>
  

        </div>
      </div>  
    </div>
</div>
<div bsModal #removeGroupModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <button type="button" class="close" (click)="smallModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">حذف داخلی</h4>
      </div>
      <div class="modal-body">
        <p>آیا از حذف  داخلی "{{selectedItemNameToDelete}}" مطمئنید؟</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-2" (click)="smallModal.hide()">انصراف</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">بله حذف شود</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->