<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="clearfix">
              <h1 class="float-left display-3 mr-4">500</h1>
              <h4 class="pt-3">خطایی رخ داده است!</h4>
              <p class="text-muted">شما به این آدرس دسترسی ندارید :(</p>
            </div>
            <div class="input-prepend input-group">
              <a class="btn btn-primary" href="/">بازگشت به صفحه اصلی</a>
            </div>
      </div>
    </div>
  </div>
</div>
