
<button class="badge  btn btn-sm border-right float-right" (click)="export('excel')"><i class="fa fa-external-link"></i> Excel</button>
<button class="badge btn  btn-sm float-right mr-1" (click)="export('csv')"><i class="fa fa-external-link"></i> CSV</button>

<div class="chart-wrapper">
    <canvas 
      baseChart 
      class="chart"
      [data]="data"
      [labels]="labels"
      [chartType]="doughnutChartType"
      [colors] ="colors"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
    </canvas>

  </div>