

<div class="animated fadeIn row border-bottom justify-content-center">
          <div class="" [ngClass]="{'col-6' : !isEditMode, 'col-12' : isEditMode } ">
          <div class="card card-accent-success">
            <div class="card-header">
      اطلاعات کاربر 
            </div>
            <div class="card-body">
              <form [formGroup]=userData  (ngSubmit)="onSubmit()">

                <div class="form-group card-accent-success  bg-info">
              
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> نوع کاربر </span>
                    </div>
                    <select class="form-control"   formControlName=level >
                      <option value="operator" selected>اپراتور</option>
                      <option value="admin">ادمین</option>
                    </select>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                  </div>
                </div>


                  <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"> وضعیت کاربر </span>
                        </div>
                        <select class="form-control"  formControlName=active >
                          <option value=0 >فعال</option>
                          <option value=1 >غیر فعال</option>
                        </select>
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                      </div>
                    </div>


                <div class="form-group" >
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> نام و نام خانوادگی</span>
                      </div>
                      <input type="text"  class="form-control" formControlName=name>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                      </div>
                    </div>
                  </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">نام کاربری</span>
                    </div>
                    <input type="text" class="form-control" [readonly]="isEditMode" formControlName=username>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                  </div>
                </div>
                

                <div class="form-group">
                  
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> مقام </span>
                    </div>
                    <ng-multiselect-dropdown
                      [placeholder]="'انتخاب مقام'"
                      [data]="dropdownList"
                      formControlName="role"
                      [settings]="dropdownSettings"
                      (onSelect)="onItemSelect()"
                      (onSelectAll)="onSelectAll($event)"
                      class="form-control p-0"
                    >
                    </ng-multiselect-dropdown>
<!-- 
                    <select  class="form-control"  formControlName=role (change)="selecteRole($event)" multiple >
                      <option *ngFor="let item of notSelectedRoles" [value]="item.id" >{{item.title}}</option>
                    </select> -->
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                  </div>
                </div>


                <!-- operator section -->
                <div [hidden]="userData.value.level == 'admin'">
                <div class="form-group" >
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">شماره تلفن</span>
                      </div>
                      <input type="text" class="form-control"  formControlName=phonenumber>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                      </div>
                    </div>
                  </div>
                <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">شماره صف </span>
                      </div>
                      <input type="text" class="form-control"  formControlName=num_queue1>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                      </div>
                    </div>
                  </div>


                <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> شماره پارک</span>
                      </div>
                      <input type="text" class="form-control"  formControlName=num_park>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                      </div>
                    </div>
                  </div>


                <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">شماره انتظار </span>
                      </div>
                      <input type="text" class="form-control"  formControlName=num_hold>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">شماره تکرار مجدد</span>
                        </div>
                        <input type="text" class="form-control"  formControlName=num_redial>
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                      </div>
                </div>

                </div>



                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">کلمه عبور</span>
                    </div>
                    <input type="password"  class="form-control"  formControlName=password>
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">تکرار  کلمه عبور</span>
                      </div>
                      <input type="password"  class="form-control"  formControlName=confirmpassword>
                      <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                      </div>
                    </div>
                  </div>

                <div class="form-group form-actions text-center">
                  <button type="submit" class="btn btn-sm btn-success">ذخیره شود</button>
                </div>
              </form>
            </div>
          </div>
        </div>
</div>